{% extends "presentation/header.html" %}

{% block content %}
{% load staticfiles %}
<style type="text/css">
		.fd {
			
			width: 100%;
			height: 500px;
		}
</style>
<div class="fd">
	<center>
	<h1> Emma</h1>
	<h3> "New technologies for a new world" </h3>
	
	<div class="container-fluid" style="background:gray">
		<p>Les comptes annuels déposés aux greffes depuis le 1er janvier 2017 sont désormais accessibles gratuitement aux utilisateurs qui souhaitent exploiter les données qu’ils contiennent. Les comptes annuels d’entreprises sont ainsi mis à disposition par l’INPI dans un format interopérable facilitant le maniement des informations. Cette ouverture des données s’inscrit dans le cadre d’une politique gouvernementale volontariste, dont l’objectif est de favoriser l’émergence de services innovants à valeur ajoutée pour l’économie. 
Les entreprises sont tenues de déposer leurs comptes annuels aux greffes des tribunaux à compétence commerciale : tribunaux de commerce, tribunaux d’instance ou tribunaux mixtes de commerce. Ces dépôts alimentent le Registre national du commerce et des sociétés, centralisé par l’INPI dans le cadre de sa mission de conservation et de diffusion. 
Les comptes annuels contiennent une mine d’informations financières sur les entreprises. L’INPI les propose dorénavant gratuitement au public dans un format XML, en vue de leur réutilisation. Cela inclut les données des bilans, des comptes de résultats, des immobilisations, des amortissements et des provisions, qui n’ont pas été assortis d’une déclaration de confidentialité par les entreprises, comme le permet la législation pour les micro et les petites entreprises. 
Pour accéder à ces données, il suffit de compléter la licence gratuite proposée par l’INPI et de la retourner à l’adresse licences@inpi.fr. Le demandeur recevra alors un identifiant lui permettant de se connecter sur le serveur où les données sont mises à jour quotidiennement. 
L’ouverture de ces données devrait permettre de développer de nouveaux services par exemple de statistiques, d’études économiques, d’analyse financière ou d’aide à la décision. 
	</p>
	</div>
	</center>
<div>



{% endblock %}	